@model ASP_PROJECT_MPT.Models.User
@{
    ViewData["Title"] = "Details";
}

<h1>Мои данные</h1>
<head>
    <title>Login V5</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
</head>
<body style="background-color:darkturquoise">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                <form class="login100-form validate-form flex-sb flex-w " style="border: 3px solid #fff; border-radius: 10px; background-color:white"> @*Если цвет будет сливаться, то здесь нужно указать белый цвет*@ 
                    <div>
                        <h4>Инфо</h4>
                        <hr />
                        <dl class="row">
                            @*<dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Id)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Id)
                            </dd>*@
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Avatar)
                            </dt>
                            <dd class="col-sm-10">
                                @if (Model.Avatar != null)
                                {
                                    <img style='width:80px; height:60px' src="data:image/jpeg;base64, @(Convert.ToBase64String(Model.Avatar))" />
                                }
                                else
                                {
                                    <img style='width:80px; height:60px' src="~/Files/ya-logo-2020-02-1-900x506 (1).png" />
                                }
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Login)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Login)
                            </dd>
                           <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Password)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Password)
                            </dd>


                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.First_Name)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.First_Name)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Last_Name)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Last_Name)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Otchestvo)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Otchestvo)
                            </dd>
                            @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>*@
                            @*<dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Date_Brith)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Date_Brith)
                            </dd>*@

                            @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>*@
                            @*<dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.RoleId)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.RoleId)
                            </dd>*@
                        </dl>
                    </div>
                    <div>
                        @Html.ActionLink("Мои посты", "OtherUserBlog", new { login = Model.Login }) |
                        @Html.ActionLink("Изменить мои данные", "Edit", new { id = Model.Id })
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>
</body>


