@model ChatTableViewModel
@{
    ViewBag.Title = "Все чаты";
}
<head>
    <title>Все чаты</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
</head>

<body style="background-color:darkturquoise">
    <div class="limiter w-full p-t-55">
        <div class="container-login100">
            <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                @if (User.IsInRole("admin"))
                {
               
                    <a style="font-family: Poppins-Regular; font-size: 14px; color: #999999; line-height: 1.5;" asp-action="CreateChat">Add chat</a>
               
                        }


                        <table class="table" style=" background-color:white">

                            <tr>
                                @*<td>ID_CHAT</td>*@
                                <td>Name</td>
                            </tr>
                            @foreach (var item in Model.Chats)
                            {
                                <tr>
                                    @*<td>@item.ChatId</td>*@
                                    <td>@item.Name</td>
                                    <td>
                                        <a class="txt2 bo1" id="EnterToChat" asp-action="Chat" asp-controller="Messenger" asp-route-id="@item.ChatId">Подробнее</a>@*TODO: Сделать вывод сообщений*@
                                    </td>
                                    @if (User.IsInRole("admin"))
                                    {
                                        <td>
                                            <a asp-action="DeleteChat" asp-controller="Messenger" asp-route-id="@item.ChatId">Удалить чат</a>
                                        </td>
                                        <td>
                                            <a asp-action="EditChat" asp-controller="Messenger" asp-route-id="@item.ChatId">Редактировать чат</a>
                                        </td>
                                    }
                                </tr>
                            }
                        </table>
                    </div>
                </div>
    </div>
    <div id="dropDownSelect1"></div>

   

    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>

</body>
